body, html {
    overflow-x: hidden; /* Запрет горизонтальной прокрутки */
    touch-action: manipulation; /* Запрет масштабирования */
    background-color: #f8f9fa; /* Светлый фон */
    height: 100%; /* Высота для Flexbox */
}

header, footer {
    text-align: center;
    color: white;
}

.card {
    border: none;
    border-radius: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

button {
    width: 120px;
    margin: 5px;
}

video, canvas {
    display: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#processedCanvas {
    display: block;
}

.mt-5 {
    margin-top: 5rem !important;
}

.flex-grow-1 {
    flex-grow: 1;
}

#detectionResults {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки одинаковой ширины */
    gap: 10px; /* Расстояние между колонками */
}

#detectionResults ul {
    list-style: none; /* Убираем маркеры */
    padding: 0;
    margin: 0;
}

#detectionResults li {
    background: #e9ecef; /* Светлый фон для элементов списка */
    padding: 5px;
    border-radius: 5px;
}

#translatedResults {
    margin-top: 20px;
}
