video, canvas, #toggleButton {
    display: none;
}

#processedCanvas {
    display: block;
}

body, html {
    overflow-x: hidden; /* Запрет горизонтальной прокрутки */
    touch-action: manipulation; /* Запрет масштабирования */
}
